#media {
    list-style: none;
    margin-bottom: 5em;
}

// .title-year {
//     font-size: 20px;
//     color: gray;
// }

.first, .previous, .pages-numbers, .next, .last  {
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    :hover{
        text-decoration: underline;
        color: red;
    }
}
