<div class="row">
    <div class="w-50 mx-auto">


        <!-- ############################# -- TV -- ############################# -->
        <div *ngIf='mediaType == "tv"'>
            <button type="button" class="btn btn-primary" (click)="discoverMedia('movie', 1)">
                Discover Movies
            </button>
            <div>
                <h1>Tv Series</h1>
            </div>

            <ul>
                <li id="media" *ngFor='let media of mediaObjects'>
                    <div>
                        <h2>
                            <a [routerLink]="'/' + mediaType + '/' + media.id">
                                {{media.name}}
                                <span class="title-year">({{media.first_air_date | date: 'yyyy'}})</span>
                            </a>
                        </h2>
                    </div>
                    <img [src]="'https://image.tmdb.org/t/p/w500' + media.backdrop_path" alt="">
                </li>
            </ul>

        </div>

        <!-- ############################# -- MOVIE -- ############################# -->
        <div *ngIf='mediaType == "movie"'>
            <button type="button" class="btn btn-primary" (click)="discoverMedia('tv', 1)">
                Discover TV Series
            </button>
            <div>
                <h1>Movies</h1>
            </div>

            <ul>
                <li id="media" *ngFor='let media of mediaObjects'>
                    <div>
                        <h2>
                            <a [routerLink]="'/' + mediaType + '/' + media.id">
                                {{media.title}}
                                <span class="title-year">({{media.release_date | date: 'yyyy'}})</span>
                            </a>
                        </h2>
                    </div>
                    <img [src]="'https://image.tmdb.org/t/p/w500' + media.backdrop_path" alt="">
                </li>
            </ul>
        </div>

        <!-- ############################# -- PAGINATION -- ############################# -->
        <div class="pagination">
            <div class="first" *ngIf="currentPage >= 5">
                <a (click)="changePage(1)">
                    First
                </a>
            </div>
            <div class="previous" *ngIf="currentPage > 1">
                <a (click)="changePage(currentPage - 1)">
                    Previous
                </a>
            </div>
            <li class="pages-numbers" *ngFor="let page of pagination; let i = index">
                <div *ngIf="page > 0 && page <= 500">
                    <a (click)="changePage(page)">
                        {{page}}
                    </a>
                </div>
            </li>
            <div class="next" *ngIf="currentPage < 500">
                <a (click)="changePage(currentPage + 1)">
                    Next
                </a>
            </div>
            <div class="last" *ngIf="currentPage <= 496">
                <a (click)="changePage(500)">
                    Last
                </a>
            </div>
        </div>

    </div>
</div>